In [32]:
import pandas as pd
import numpy as np
import os

from utils.utils import sign_in_manager
from utils.utils import get_survey_list

from dotenv import load_dotenv

load_dotenv()

True

In [33]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import re

In [3]:
driver.quit()

NameError: name 'driver' is not defined

In [34]:
options = webdriver.EdgeOptions()
options.add_argument("--start-maximized")
driver = webdriver.Remote(command_executor = os.environ["REMOTE_SERVER"], options = options)

In [35]:
sign_in_manager(driver, os.environ["SYNO_EMAIL"], os.environ["SYNO_PASSWORD"])

In [36]:
def get_distribution_list(driver : webdriver, project_id : int):
    # Go to the project
    driver.get(f"https://manager.synoint.com/en/projects/{project_id}")

    # Wait until survey list loader is out
    element = WebDriverWait(driver, 10).until_not(EC.presence_of_element_located((By.CSS_SELECTOR, "td.dataTables_empty")))

    # Read the distribution project links for the project id
    distribution_list = [a.get_attribute("href") for a in driver.find_elements(By.CSS_SELECTOR, "#distributions__list > tbody > tr > td:nth-child(1) > a[href]")]
    
    return distribution_list

d_list = get_distribution_list(driver, 4087)
d_list

['https://manager.synoint.com/en/distribution/panel/sample/3133/details',
 'https://manager.synoint.com/en/distribution/panel/sample/2045/details',
 'https://manager.synoint.com/en/distribution/panel/sample/1885/details']

In [37]:
def get_distribution_background(driver : webdriver, distribution_id : int):
    # Go to the distribution project
    driver.get(distribution_id)
    
    # Open the Respondents tab
    driver.find_element(By.CSS_SELECTOR, "a[href='#profile1").click()
    
    # Get the select element to show 5k rows
    select = Select(driver.find_element(By.NAME, "responses__list_length"))
    select.select_by_value("5000")
    
    # Get the responses table
    responses_table = pd.read_html(driver.find_element(By.ID, "responses__list").get_attribute("outerHTML"))[0]
    
    return responses_table

get_distribution_background(driver, d_list[0])

Empty DataFrame
Columns: [GUID, Status, Provider status, Type, Target group, Provider, Started, Status updated, Unnamed: 8]
Index: []

In [14]:
responses_info = driver.find_element(By.ID, "responses__list_info").text
responses_info

'Showing 1 to 2,035 of 2,035 entries'

In [10]:
# Get the responses table
responses_table = pd.read_html(driver.find_element(By.ID, "responses__list").get_attribute("outerHTML"))[0]

responses_table

,GUID,Status,Provider status,Type,Target group,Provider,Started,Status updated,Unnamed: 8
0,0e28e3de-8882-75f0-0602-d70374088140,Complete,Complete,live,Females 16-24 Finland,Cint,2023-12-26 13:33:45,2023-12-28 05:38:24,NaN
1,f09e3b2f-1d9c-3769-b0f3-0fb52490d6bb,Complete,Complete,live,Females 16-24 Finland,Cint,2023-12-26 13:07:33,2023-12-28 05:38:24,NaN
2,e6f20d51-171b-39a0-db8d-39d99fefe2cc,Complete,Complete,live,Females 16-24 Finland,Cint,2023-12-26 12:31:41,2023-12-28 05:38:24,NaN
3,1057012b-075a-30a4-7ef7-357c0b10ecbd,Complete,Complete,live,Females 16-24 Finland,Cint,2023-12-26 12:30:40,2023-12-28 05:38:24,NaN
4,de18fc99-3306-cd6d-3145-c833484cc90c,TimedOut,TimedOut,live,Females 16-24 Finland,Cint,2023-12-26 12:30:39,2023-12-28 05:38:24,NaN
...,...,...,...,...,...,...,...,...,...
2030,97881315-2f4f-7057-a9cd-27a359d026db,Screenout,Screenout,live,Finland nat-rep 16-65 Triaba Finland,Cint,2023-12-12 17:05:35,2023-12-12 17:15:15,NaN
2031,5171b0461642b11a24e9ea97b23d741ad31e0dd9,Screenout,Screenout,live,Sweden nat-rep 16-65 cheapest CPI,Syno,2023-12-12 17:05:31,2023-12-12 20:21:25,NaN
2032,testa179f48f85c893a79673df6022cc46ada45a,TimedOut,TimedOut,test,Sweden nat-rep 16-65 cheapest CPI,Syno,2023-12-12 17:04:06,2023-12-12 18:10:13,NaN
2033,test40a086d9b69e45552bcc050dc4e7eecae27f,TimedOut,TimedOut,test,Norway nat-rep 16-65 cheapest CPI,Syno,2023-12-12 17:00:03,2023-12-12 18:05:15,NaN
2034,test80277c50777a5fb2db2f927b247b7872,Complete,Complete,test,Finland nat-rep 16-65 Triaba Finland,Cint,2023-12-12 16:51:18,2023-12-12 16:56:11,NaN